{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic%7CPT+Serif:400,700,400italic,700italic%7CVollkorn%7CRokkitt:400,700' rel='stylesheet' type='text/css'>


    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css%27%3E'>
    <link rel="stylesheet" href="css/sideToggle/style.css">
</head>
<body>
    <div id="menu-test">
    <a href="/">home</a>
    <a href="login_utilisateur/">utilisateur</a>
    <a href="login_commercant/">commercant</a>
    <a href="login_Livreur/">livreur</a>
    <a href="restaurant/">restaurant</a>
    <a href="restaurant/validation">valide</a>
    <a href="restaurant/confirmation">confirmation</a>
</div>
    {% include 'partials/_sidebar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'partials/_footer.html' %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js%27%3E'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js%27%3E'></script>
        <script src="js/sideToggle/sideToggleExtended.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>