<div class="sidebar"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">

    <ul class="sidebarMenuInner">
        <li>Inscription / Connexion</li>

        <div class="sidebar-items">
            <label class="sidebar-label" for="email">Email :</label>
            <input class="sidebar-input" type="input" name="email" id="email">
        </div>
        
        <div class="sidebar-items">
            <label class="sidebar-label"  for="email">Mot de passe :</label>
            <input class="sidebar-input" type="password" name="mdp" id="mdp">
        </div>
    
        <div class="sidebar-sentence">
            <p class="sentence-p">Vous n'avez pas de compte ? <a class="sentence-link" href="login_utilisateur/">Inscrivez-vous</a></p>
            <p class="sentence-p">Vous êtes un commerçant ? <a class="sentence-link" href="login_commercant/">C'est ici que ça se passe</a></p>
        </div>

        <button class="sidebar-button">Connexion</button>
    </ul>
  </div>
 